{% extends 'base.html' %}
{% load static %} 

{% block content %}
  <section class="section-content padding-y bg">
    <div class="container">
    
    {% if not cart_items %}
      <h2 class="text-center">Your Shopping Cart Is Empty</h3>
      <br>
      <div class="text-center">
        <a href='{% url 'store' %}' class="btn btn-primary">Continue Shopping</a>
      </div>
    {% else %}
    <!-- ============================ COMPONENT 1 ================================= -->
    
      <div class="row">
        <aside class="col-lg-9">
      <div class="card">
      <table class="table table-borderless table-shopping-cart">
        <thead class="text-muted">
          <tr class="small text-uppercase">
            <th scope="col">Product</th>
            <th scope="col" width="120">Quantity</th>
            <th scope="col" width="120">Price</th>
            <th scope="col" class="text-right" width="200"> </th>
          </tr>
        </thead>
        <tbody>

          {% for item in cart_items %}
            <tr>
              <td>
                <figure class="itemside align-items-center">
                  <div class="aside"><img src="{{ item.product.image.url }}" class="img-sm"></div>
                  <figcaption class="info">
                    <a href="{{ item.product.get_url }}" class="title text-dark">{{ item.product.name }}</a>
                    {% for value  in item.value.all %}
                      <p class="text-muted small">{{ value.variation.category|capfirst }}: {{ value.name|capfirst }}</p>
                    {% endfor %}
                  </figcaption>
                </figure>
              </td>
              <td> 
                <!-- col.// -->
                      <div class="col"> 
                        <div class="input-group input-spinner">
                          <div class="input-group-prepend">
                            {% if item.quantity > 1 %}
                            <form action="{% url 'add_to_cart' 'minus' item.product.id %}" method="POST">
                              {% csrf_token %}
                              {% for value in item.value.all %}
                                <input type="hidden" name="{{ value.variation.category }}" value="{{ value.name }}">
                              {% endfor %}
                              <button class="btn btn-light" id="button-minus" style="border-radius:0.37rem 0px 0px 0.37rem"><i class="fa fa-minus"></i></button>
                            </form>
                            {% else %}
                              <form action="#">
                                <button type="button" class="btn btn-light" id="button-minus" style="border-radius:0.37rem 0px 0px 0.37rem">
                                  <i class="fa fa-minus"></i>
                                </button>
                              </form>
                            {% endif %}
                          </div>
                          <input type="text" class="form-control"  value="{{ item.quantity }}">
                          <div class="input-group-append">
                            <form action="{% url 'add_to_cart' 'add' item.product.id %}" method="POST">
                              {% csrf_token %}
                              {% for value in item.value.all %}
                                <input type="hidden" name="{{ value.variation.category }}" value="{{ value.name }}">
                              {% endfor %}
                              <button class="btn btn-light" id="button-plus" style="border-radius:0px 0.37rem 0.37rem 0px"><i class="fa fa-plus"></i></i></button>
                            </form>
                          </div>
                        </div> <!-- input-group.// -->
                      </div> <!-- col.// -->
              </td>
              <td> 
                <div class="price-wrap"> 
                  <var class="price">$ {{ item.total }}</var> 
                  <small class="text-muted">$ {{ item.item_price }} each</small> 
                </div> <!-- price-wrap .// -->
              </td>
              <td class="text-right">
                <form action="{% url 'add_to_cart' 'del' item.product.id %}" method="POST">
                  {% csrf_token %}
                  {% for value in item.value.all %}
                    <input type="hidden" name="{{ value.variation.category }}" value="{{ value.name }}">
                  {% endfor %}
                  <button class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this item')">
                    Remove
                  </button>
                </form> 
              </td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
      </div> <!-- card.// -->
      
        </aside> <!-- col.// -->
        <aside class="col-lg-3">
      
          <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Untaxed Total:</dt>
              <dd class="text-right">$ {{ untaxed_price }}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Tax:</dt>
              <dd class="text-right">$ {{ tax_total }} (%{% widthratio tax_per 1 100 %})</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-right text-dark b"><strong>$ {{ taxed_price }}</strong></dd>
            </dl>
            <hr>
            <p class="text-center mb-3">
              <img src="{% static './images/misc/payments.png' %}" height="26">
            </p>
            <a href="{% url 'checkout' %}" class="btn btn-primary btn-block"> Checkout </a>
            <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
          </div> <!-- card-body.// -->
          </div> <!-- card.// -->
      
      </aside> <!-- col.// -->
      
      
      </div> <!-- row.// -->
      <!-- ============================ COMPONENT 1 END .// ================================= -->
    {% endif %}
    </div> <!-- container .//  -->
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}
